@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: var(--background);
  font-family: 
  Playfair Display;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

